<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand brand-style" href="/">News'Crepe</a>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/myarticles">Saved Articles</a>
                <button id="scrape" type="button" class="btn btn-warning btn-space">Get News</button>
                <button id="clear" type="button" class="btn btn-warning btn-space">Clear Results</button>
            </div>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid jbt-background jbt-style" style="margin-bottom:2px;">
        <div class="container">
            <h1 class="display-4">News'Crepe</h1>
            <p class="lead">Your spot for gaming news!</p>
        </div>
    </div>

    <section class="col-10 offset-1 ctr-color">
        <ul class="list-unstyled">
            {{#each articles}}
            {{#unless saved}}
            <li class="media" style="margin-bottom: .8em;">
                <img src="{{img}}" class="mr-3" style="max-width: 200px;">
                <div class="media-body">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{title}}</h5>
                        <button type="button" class="btn btn-warning save-article" data-id="{{_id}}"><i
                                class="far fa-save"></i> Save Article</button>
                    </div>
                    <p>
                        {{summary}}
                    </p>
                    <a href="{{url}}" target="_blank">Go to the article!</a>
                </div>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </section>

</div>